*{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: inherit;
    list-style: none;
    padding: 5px;
    margin: 0px;
    box-sizing: border-box;
}
    /*index.html*/
    .flex-container{
        display: flex;
        flex-direction: column;
}

    /*Header start*/
    #global-header{
        display: flex;
        flex-direction: column;
        gap: 10%;
    }

    #globalHeader, form{ 
        display: flex;
        justify-content: flex-start;
        padding: 0;
        position: relative;
        padding-right: 15%;
    }
    header form input{
        background-color: white;
        border: 1px solid black;
    }
    #sokeKnapp{
        display: flex;
        padding: 6px;
        border-radius: 1px;
        background-color: white;
        border: 1px solid black;
        width: 30px;
        position: relative;
        right: -3px;
        justify-content: center;
    }

    body header form #sokeKnapp i{
        width: 100%;
    }
    header nav{
        display: flex;
        justify-content: flex-start;
        flex-direction: column; 
        gap: 15px;
    }

    header nav ul, li, a{
        padding: 0;
        margin: 0;
        padding: 0;
    }

    .venstreForLogo{
        display: flex;
        justify-content: flex-start;
        padding: 0;
        flex-direction: column;
    }

    .logo{
        font-size: x-large;
    }

    .hoyreForLogo{
        display: flex;
        justify-content: flex-start;
        padding: 0;
        flex-direction: column; 
    }

    h1{
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: flex-start;
        position: relative;
        width: 100%;
    }
    
    #heltHoyre{
        gap: 13px;
        display: flex;
        flex-direction: column;
        padding: 0;
        position: relative;
        justify-content: flex-end;
    }
    .fa-regular{
        /*Kopiert linjene under ifra ChatGPT.com*/
        color: transparent;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #000;
        /*Kopier linjene over ifra ChatGPT.com*/
    }


    /*Header slutt*/

    /*MAIN*/
    /*Section 1 start*/
    main{
        justify-content: flex-start;
    } 
    #section1{
        display: flex;
        background-color: rgb(187, 185, 185);
        justify-content: flex-end;
        align-items: center;
        text-align: end;
        margin: 5px;
        border: none;
        padding-top: 55px;
        padding-right: 10px;
        padding-bottom: 55px;
        padding-left: 10px;
        height: 480px;
        background-size: auto;
        max-width: 100%;
} 

    #section1 section p{
        margin: 7px;
        padding: 15px;  
    }
  
    #section1 section a{
        border-radius: 0px;
        background-color: white;
        background-position: 100%;
        margin: 10px;
        text-transform: uppercase;
        text-decoration: black;
        padding: 10px;
        font-weight: bold;
    } 
    /*Section 1 slutt*/
    /*Section 2 start*/
    #overSectionButtons h3{
        font-size: xx-large;
        font-weight: bold; 
    }
    #section2{
        display: flex;
        flex-direction: column;
        position: relative;
        top: 42px;
    }    
    #sectionButtons{
        display: flex;
        justify-content: center;
        flex-direction: row;
        border-color: black; 
        width: 100%; 
        position: relative;
        top: 20px; 
        gap: 14px; 
    }
    #section2 p{
        position: relative;
        width: 100%;
    } 
    #section2 h3{
        position: relative;
    }
    

    #sectionButtons li a{
        margin: 1px;
        width: 100%;
        position: relative;
        border: 1px solid black;
        padding-top: 13px;
        padding-right: 13px;
        padding-bottom: 13px;
        padding-left: 15px;
        
    }

    #sectionButtons li{
        display: flex;
        justify-content: space-between;
        position: relative;
        height: auto;
    }

    .marker{
        width: 60px;
    }

    main #section2{
        gap: 35px;
    }
    main #section2 h3, p{
        margin: 0;
        padding: 0;
    }

    main #section2 article img{
        display: flex;
        max-height: 400px;
        max-width: 113%;
    }
    
    main #section2 article{
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: relative;
        width: 100%;
    }
    main #section2 article ul li{
        display: flex;
        justify-content: flex-start;
        position: relative;
        width: 100%;
    }
    main #section2 article ul li a{
        padding: 0;
        font-weight: bold;
        width: 100%;
    }
    main #section2 article ul{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;
        width: 100%;
    }

    /*Section 2 slutt*/
    /*Section 3 start*/
    #section3{
        position: relative;
        top: 104px;
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 16px;
    }
    #section3 header h4{
        font-weight: bold;
        font-size: large;
        text-transform: none;
    }
    #section3 article{
        border: 1px solid #000000;
        display: flex;
        justify-content: center;
        padding: 16px;
        margin: 5px; 
        height: 277px;
    }
    .kategoriKortSkrift{
        display: flex;
        flex-direction: column;
        justify-content: center;
    } 

    /*Section 3 slutt*/
    /*Section 4 Start*/
    #section4{
        position: relative;
        top: 104px;
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 16px;
    }

    #section4 article{
        border: 1px solid #0000000f;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 16px;
        margin: 5px; 
        gap: 15px;   
    }

    #section4 article img{
        max-width: 150px;
        padding: 0;
        width: 100%;
    }

    #section4 header{
        padding: 0;
        display: flex;
        justify-content: flex-start;
        position: relative;
        right: 20px;
        margin: 24px;
        top: 26px;

    }
    #section4 header h5{
        font-weight: bold;
        font-size: large;
        text-transform: none;
    }
    h6{
        display: flex;
        justify-content: flex-start;
        padding: 0;
        margin: 1px;
        font-weight: bold;
        font-size: inherit;
        text-transform: none;
    }

    /*Section 4 slutt*/

    

    /*Footer start*/
    footer{
        position: relative;
        top: 137px;
        display: flex;
        flex-direction: column;
        gap: 23px;
        border-top-style: outset;
        border-top-color: #80808075;
        border-top-width: 1px;
    }

    footer section ul, li, i{
        padding: 0;
    }

    footer section{
        gap: 22px;
        display: flex;
        flex-direction: column;
        top: 25px;
        position: relative;
        width: 100%;
    }
    footer section ul{
        gap: 9px;
        display: flex;
        flex-direction: column;
    }
    footer section a, h4{
        padding: 0;
        width: fit-content;
    }
    #sectionFooter1 h5{
        padding: 0;
        margin: 0;
        font-size: inherit;
        text-transform: uppercase;
    }

    .liSectionFooter1 a{
        font-weight: bold;
    }

    footer section section a, h5{
        padding: 0;
        
    }
     
    
    #sectionFooter2 h5{
        font-size: inherit;
        text-transform: uppercase;

    }
    #medierIkonerBoks h5{
        font-size: inherit;
        text-transform: uppercase;
    }
    #medieIkoner{
        gap: 30px;
    }
    /*Footer slutt*/



    /*Product.html Start*/

    #breadCrumbs{
    display: flex;
        
    }
    #breadCrumbs p{
    display: flex;
    gap: 5%;
    } 
    #breadCrumbMakert{
    font-weight: bold;
    } 
    /*Produkt bilder*/
    #bildeKlasseProdukt{
    max-width: 100%;
    padding: 0;
    margin: 0;
    }
    #produktKort{
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
   #produktKort section article{
    display: flex;
    flex-direction: column;
    max-width: 113%;
    justify-content: center;
    padding: 0;
    margin: 0;
   }
   #produkterPaRekke{
    padding: 0;
    margin: 0;
   }

   /*lignende produkter*/ 
    main #section2 h2{
    margin: 0;
    padding: 0;
    }



   /*Aside*/
   aside{
    max-width: 440px;
    display: flex;
    flex-direction: column;
   }
   aside h2{
    padding: 0;
    margin: 0;
   }
   aside a{
    text-decoration: underline;
    font-size: larger;
   }
   aside


    /*Product.html Slutt*/

    /*Checkout.html Start*/
    h2{
    font-weight: bold;
    text-transform: uppercase;
    }
    #checkoutMainInnhold{
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    }
   #shoppingBagbox{
    width: 100%;
   }
   #shoppingBagbox header h2{
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
   }
   #shoppingBagbox article img{
    width: 100%;
   }
   .checkoutArticleProduktKort{
    width: 100%;
   }
   .checkoutArticleProduktKort h3{
    padding: 0;
    margin: 0;
   }

   #dineOpplysniger{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
   }
   #dineOpplysninger header{
    padding: 0;
    margin: 0;
   }
   #dineOpplysniger header h2{
    display: flex;
    justify-content: flex-start;
    padding-bottom: 37px;
    padding-top: 37px;
    padding-left: 0;
    margin: 0;
   }
   #dineOpplysniger form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
   }

   .Opplysninger{
    padding: 10px;
   }

   #opplyningsKnapper{
    display: flex;
    flex-direction: column;
    padding-top: 47px;
    margin: 0;
    padding-bottom: 22px;
    gap: 28px;
    width: 100%;
   }
   #opplyningsKnapper a{
    padding: 0;
   }

   #lagre{
    width: fit-content;
    padding: 10px;
    background-color: #4c4c4c;
    color: aliceblue;
   }
   #avbryt{
    width: fit-content;
    text-decoration-line: underline;
    color: blue;
   }
   #leveringsAlternativer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
   }
   #leveringsAlternativer h2{
    font-weight: bold;
    text-transform: uppercase;
   }

   #leveringsAlternativer h3{
    font-weight: bold;
    text-transform: uppercase;
   }
   .boldleveringsAlternativer{
    font-weight: bold;
    width: 100%;
   }

   .vannRett{
    display: flex;
    flex-direction: row;
    gap: 10px;
   }
   .loddRett{
    display: flex;
    flex-direction: column;
    gap: 10px;
   }

   #betalingsOpplysninger{
    display: flex;
    flex-direction: column;
    width: 100%;
   }
   #betalingsOpplysninger h2, h4{
    font-weight: bold;
    text-transform: uppercase;
    }
    #betalingsOpplysninger label{
    display: flex;
    flex-direction: column;
    }
    #betalingsOpplysninger input{
        padding: 15px;
    }

    #sistebetalingsAlternativ{
        display: flex;
        flex-direction: column;
    }
    #fullforKjopButton{
        display: flex;
        width: fit-content;
        background-color: #494949;
        color: white;
        padding: 10px;
    }
    #mellomromTekst{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #sistebetalingsAlternativ label{
        width: 100%;
    }
    #sistebetalingsAlternativ label input{
        padding-top: 20px;
    }




    /*Checkout.html Slutt*/


    /*MediaQueries Desktop*/
    /*ALT SOM ER STØRRE ENN 588 blir skrevet ut*/
    @media only screen and (min-width: 602px) {
        /*Header start*/
        .flex-container{
            max-width: 100%;
        }
        .flex-container{
            display: flex;
            justify-content: center; 
            max-width: 1200px; 
        }

        #global-header{
            display: flex;
            flex-direction: row;
            width: 100%;
            align-items: baseline;
            position: relative;
            overflow: hidden;
        }
        #global-header form{
           display: flex;
           justify-content: flex-start;
           max-width: 100%;
        }
        
        header nav{
            flex-direction: row;
            width: 100%;
            display: flex;
            align-items: baseline;
            flex-wrap: wrap;
            overflow: hidden;
            justify-content: space-evenly
        }

        h1{
            padding: 0;
            margin: 0;
            max-width: 100%;
        }

        .midt{
            width: 100%;
        } 
    
        .midt a {
            display: flex;
            width: max-content;
            max-width: 100%;
        }

        #heltHoyre{
            flex-direction: row;
            max-width: 100%;
        }

        #hoyreForLogo, #venstreForLogo{
            display: flex;
            padding: 0;
            margin: 0;
            max-width: 100%;
        }
        #hoyreForLogo{
            display: flex;
            gap: 10%;
            flex-direction: row;
        }
        #venstreForLogo{
            display: flex;
            gap: 10%;
            flex-direction: row;
        }
        

        /*Header slutt*/

        /*section 1 start*/
        #section1{
            background-color: rgb(187, 185, 185); 
            background-position: 100%;
            max-width: 100%;
        }





        /*section slutt*/



        /*Footer start*/
       #footer-flex{
            display: flex;
            flex-direction: row; 
            justify-content: space-between;  
        }


        footer section{
            max-width: 100%;
        }

        #sectionFooter1{
            display: flex;
            flex-direction: column;
        }

        #medieIkoner {
            display: flex;
            flex-direction: row;
            text-align: left;
        }
         /*Footer slutt*/
        

       /*Section 2 start*/
       /*Våre mest populære produkter*/
       
       #overSectionButtons{
        display: flex;
        flex-direction: column;
        gap: inherit;
        max-width: 100%;
        justify-content: space-between;
       }
        #sectionButtons {
        display: flex;
        justify-content: flex-start;
        } 
        
       
       .populareProduktKort{
        margin-right: 1rem;
        margin-left: 1rem;
        width: 350px; 
        
       }
       #prodKort{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows:repeat(3, 1fr);
        max-width: 100%;
       }
       /*Section 2 slutt*/
       
    /*Våre mest populære kategorier*/
    /*Section 3 med flex*/
    #section3{
        top: -139px;
    }
   
    .c1-5 {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border: none;
    }
       #cKort{
        display: grid;
        gap: 2px;
       }
       #cKort section article{
        display: grid;
        border: none;
       }

    #c1, #c2, #c3{
        max-width: 386px;
    }
    #c4{
        max-width: 864px;  
    }
    #c5{
        max-width: 300px;
    }
    #c1{
        display: grid;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        background-image: url("Bilder/sko.jpg");
    }
    
    #c2{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        background-image: url("Bilder/kaktus.jpg");
    }
    #c3{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        background-image: url("Bilder/tastatur.jpg");
    }
    #c4{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        background-image: url("Bilder/skateboard.jpg");
      
    }
    #c5{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
        background-image: url("Bilder/ps3.jpg");
        
    } 
    /*Section 3 slutt*/
       
    /*Andmeldelser start*/
    #section4 {
        position: relative;
        top: 104px;
        display: flex;
        flex-direction: column;
    } 
    #section4 header{
        display: flex;
        flex-direction: column;
    }
    #section4 article{
        max-width: 289px;
        margin: 0;
        padding: 13px;
    } 
    #anmeldelserKort{
        display: flex;
        flex-direction: row;
        gap: 6px;
    }
    h5{
        font-size: x-large;
    }
    /*Andmeldelser slutt*/


    /*Ny Side!*/
     /*Product.html*/
     #flex-container{
        display: flex;
        flex-direction: inherit;
        align-items: flex-start;
        margin: 0;
        padding: 0;
    }

    #tshirt1{
        display: flex;
        max-width: 480px;

    }
    .produktBilde{
        display: flex;
        max-width: 100%;
        max-height: 100%;
        padding: 0;
        margin: 0;
    }

    main section section section{
        padding: 0;
        margin: 0;
        max-width: 700px;
    }

    #produkterPaRekke{
        display: flex;
        flex-direction: row;
    }

    #tshirt2, #tshirt3, #tshirt4{
    display: flex;
    max-width: 160px;
    }
    .lignendeProduktKort{
        margin-right: 1rem;
        margin-left: 1rem;
        width: 350px;
    }
    #produktKort{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
   }  
    /*Aside*/
    aside{
    display: flex;
    flex-direction: column;
     gap: 10px;
    width: 50%;
    flex-wrap: nowrap;
    padding-left: 164px;
    }


     /*Media queries slutt*/
}